{{title:Terms and Conditions - D-formed.net}}
{{description:Please read our terms and conditions carefully before using our website. By accessing or using our site, you agree to be bound by these terms.}}
{{keywords:terms and conditions, legal, privacy policy, user agreement, website usage, London}}
{{include:header.html}}
<div class="container content">
    <div class="row-fluid about">
        <div class="span8">
            <div class="aboutwrap">
                <div id="about-text" class="terms">
                    {{include:components/terms.html}}
                </div>
            </div>
        </div>
        <div class="span4 aboutright">
            {{include:components/boxes/bigcircle.html}}
        </div>
    </div>
</div>
{{include:footer.html}}