{{include:header.html}}
<div class="container content">
    <div class="row-fluid about">
        <div class="span8">
            <div class="aboutwrap">
                <h1 class="blue">Testimonials</h1>
                <div id="about-text">
                    {{include:components/testimonials.html}}
                </div>
            </div>
        </div>
        <div class="span4 aboutright">
            {{include:components/boxes/bigcircle.html}}
        </div>
    </div>
</div>
{{include:footer.html}}