<div class="push"></div>
</div><!-- close footer wrapper -->

<div class="footer">

<div class="container">
  <footer>
    <div class="row">
      <div class="span8">
        <p class="alignleft">All content copyright &copy; 2012 D-Formed Digital.<span class="smallhide"> All rights reserved</span></p>
      </div>
      <div class="span4">
        <p class="alignright"><a href="/terms">Terms &amp; Conditions</a></p>
      </div>
    </div>
  </footer>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/4.0.0-rc.1/jquery.min.js" integrity="sha512-MXe5EK5gyK+fbhwQy/dukwz9fw71HZcsM4KsyDBDTvMyjymkiO0M5qqU0lF4vqLI4VnKf1+DIKf1GM6RFkO8PA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/lightbox.js"></script>
<script src="js/jquery.quovolver.js"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<script>
    $(function() {
        var bgImages = [
            'bg.jpg', 'bg2.jpg', 'bg3.jpg', 'bg4.jpg', 'bg5.jpg', 'bg6.jpg', 'bg7.jpg'
        ];
        var i = Math.floor(Math.random() * bgImages.length);
        var selectedBg = bgImages[i];

        $('body').css({
            'background': "url('img/" + selectedBg + "') no-repeat",
            'background-color': '#111111',
            'background-position': 'center top',
            'background-attachment': 'fixed'
        });
    });
</script>
<script>
    (function() {
        var $contactDiv = $("#contact");
        if ($contactDiv.length) {
            // Obfuscated parts
            const a = 'hello';
            const b = 'd-formed';
            const c = 'net';
            const d = '@';
            const e = '.';
            
            // Construct email
            const email = a + d + b + e + c;
            
            // Create and insert link
            const link = document.createElement('a');
            link.href = 'mai' + 'lto:' + email;
            link.textContent = email;
            
            // Add to page after small delay
            setTimeout(function() {
                document.getElementById('contact').appendChild(link);
            }, 100);
        }
    })();
</script>
<script>
$(function() {
  var now = new Date();
  var hour = now.getHours();
  var greeting = "";

  if (hour < 12) {
    greeting = "Good morning!";
  } else if (hour >= 12 && hour <= 17) {
    greeting = "Good afternoon!";
  } else {
    greeting = "Good evening!";
  }

  var $greetingDiv = $("#greeting");
  if ($greetingDiv.length) {
    $greetingDiv.text(greeting);
  } else {
    console.log(greeting);
  }
});
</script>
</body>
</html>