<div class="push"></div>
</div><!-- close footer wrapper -->

<div class="footer">

<div class="container">
  <footer>
    <div class="row">
      <div class="span8">
        <p class="alignleft">All content copyright &copy; 2012 D-Formed Digital.<span class="smallhide"> All rights reserved</span></p>
      </div>
      <div class="span4">
        <p class="alignright"><a href="/terms">Terms &amp; Conditions</a></p>
      </div>
    </div>
  </footer>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/4.0.0-rc.1/jquery.min.js" integrity="sha512-MXe5EK5gyK+fbhwQy/dukwz9fw71HZcsM4KsyDBDTvMyjymkiO0M5qqU0lF4vqLI4VnKf1+DIKf1GM6RFkO8PA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/lightbox.js"></script>
<script src="js/jquery.quovolver.js"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>

</body>
</html>